{% extends 'base.html.twig' %}

{% block contenido %}
	
	<a href="{{ path('noticias') }}">Volver</a>
	-
	<a href="{{ path('noticias_borrar', {'id':noticia.id}) }}">Borrar</a>
	-
	<a href="{{ path('noticias_modificar', {'id':noticia.id}) }}">Modificar</a>
	
	<article>
		<header>
			<h1>{{ noticia.titulo }}</h1>
		</header>
		<section>
			{{ noticia.descripcion}}
		</section>
	</article>

{% endblock %}