{% extends 'base.html.twig' %}

{#
{% block pie %}
	<h4>TODOS LOS DERECHOS RESERVADOS desde NOTICIAS</h4>
{% endblock %}
#}

{% block contenido %}
	<h2>{{ titulo }} - <small>{{ fecha }}</small></h2>
	Bienvenidos a las noticias de la tienda -
	<small>{{ controller_name }}</small>
	<hr>
	<p>La ultima visita, fue a las {{ ultimaVisita }}</p>
	<hr>

	<a href="{{ path('noticias_insertar') }}">Insertar Noticia</a>
	
	{% for noticia in noticias %}
		<article>
			<header>
				<h3>		
					<a href="{{ path('noticias_detalle', {'id':noticia.id}) }}">
						{{ noticia.titulo }}
					</a>
					-
					<small>
						<a href="{{ path('noticias_borrar', {'id':noticia.id}) }}">	
							Borrar
						</a>
						-
						<a href="{{ path('noticias_modificar', {'id':noticia.id}) }}">	
							Modificar
						</a>
					</small>
				</h3>
			</header>
			<section>{{ noticia.descripcion }}</section>
			<footer>{{ noticia.fecha|date('d/m/Y') }} - {{ noticia.autor }}</footer>
		</article>  
		<hr>  
	{% endfor %}

{% endblock %}