{% extends 'base.html.twig' %}

{% block contenido %}
	
	<a href="{{ path('noticias') }}">Volver</a>
	
	{{ form_start(formulario) }}
	

	<div class="form-group">
		{{ form_label(formulario.titulo) }}
		{{ form_widget(formulario.titulo, {'attr': {'class': 'form-control'}}) }}
	</div>

	<div class="form-group">
		{{ form_label(formulario.descripcion) }}
		{{ form_widget(formulario.descripcion, {'attr': {'class': 'form-control'}}) }}
	</div>

	<div class="form-group">
		{{ form_label(formulario.autor) }}
		{{ form_widget(formulario.autor, {'attr': {'class': 'form-control'}}) }}
	</div>

	<div class="form-group">
		{{ form_label(formulario.fecha) }}
		{{ form_widget(formulario.fecha, {'attr': {'class': 'form-control'}}) }}
	</div>

	{{ form_widget(formulario.enviar, {'attr': {'class': 'form-control'}}) }} 

	{{ form_end(formulario) }}

{% endblock %}