<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template desde Symfony 4</title>

    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/estilos.css') }}" rel="stylesheet">
	
  </head>
  <body>
    
    <section class="container">
    	<header>
    		<h1>
    			Tienda creada en SYMFONY4
				-
				<small>La tienda definitiva</small>
    		</h1>
    	</header>
		<nav>
			<hr>
			<a href="{{ path('index') }}">Listado de productos</a>
			-
			<a href="{{ path('producto',{'id':'10'}) }}">Un unico producto</a>
			-
			<a href="{{ path('noticias') }}">Noticias</a>
			<hr>
		</nav>
		<section>
			{% block contenido %}
			    AQUI VENDRA EL CONTENIDO
			{% endblock %}
		</section>
		<footer>
			<hr>
				{% block pie %}
					<h4>TODOS LOS DERECHOS RESERVADOS</h4>
				{% endblock %}
		</footer>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>
